<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
  <form>
    <h1 class="titulo">TECH CRUD</h1>
    <h2 class="subtitulo">Controle de Usuários</h2>

    <input [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" class="input-form" type="text" placeholder="Digite seu nome">

    <app-button textButton="Acessar" size="100" (click)="login()"></app-button>
  </form>

  <h6 class="hashtag-footer">#EMPOWEREDCHOICES</h6>

  <p class="footer">© 2024 | Desenvolvido por João Victor Ragazzi </p>
</div>
